.red {
    color: red;
}

.blue { 
    color: blue;
}

.div {
    background-color: pink;
    border: 2px solid black;
}

#btn {
    background-color: blue;
    color: white;
}

.purple{
    color: purple;
}