<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h3>Send new message</h3>
    <form method="POST" action="http://localhost:8080/chats/">
        <input type="text" placeholder="Sender" name="from"><br><br>
        <input type="text" placeholder="Recipient" name="to"><br><br>
        <textarea name="msg" cols="21" rows="5" maxlength="50"></textarea>
        <br>
        <button>Send</button>
    </form>
</body>
</html>